:root[data-cp-theme='dark'] {
  background-color: #212529;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex: 1;
  gap: 1em;
}

.container > div {
  align-content: center;
  text-align: center;
  background-color: var(--bs-secondary-bg);
  padding: 1rem;
  border-radius: .5rem;
}

.menu {
  text-align: center;
  padding: 1rem;
}
