body {
  margin: 0;
  height: 200vh;
  padding-top: 65vh;

  display: flex;
  justify-content: center;
}

:root[data-cp-theme='dark'] {
  background-color: #212529;
}

.container {
  width: 100%;
  max-width: 16rem;
  padding: 1rem;
}
