[data-bs-theme='dark'],
[data-cp-theme='dark'] {
  --cp-body-bg: #212529 !important;
  --cp-body-color: #dee2e6 !important;
  --cp-body-color-rgb: 222, 226, 230 !important;

  --cp-border-color: #495057 !important;
  --cp-caret-bg-color: #49505799 !important;
  --cp-border-color-translucent: rgba(255, 255, 255, 0.15) !important;
  --cp-tertiary-color: rgba(222, 226, 230, 0.5) !important;
}

:root,
[data-bs-theme='light'],
[data-cp-theme='light'] {
  --cp-body-bg: #fff;
  --cp-body-color: #212529;
  --cp-body-color-rgb: 33, 37, 41;

  --cp-border-color: #dee2e6;
  --cp-caret-bg-color: #dee2e6cc;
  --cp-border-color-translucent: rgba(0, 0, 0, 0.175);
  --cp-tertiary-color: rgba(33, 37, 41, 0.5);
}

:root {
  --cp-delay: 150ms;

  --cp-border-radius-sm: 0.25rem;
  --cp-border-radius-lg: 0.5rem;
  --cp-swatch-width: 2rem;

  --cp-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --cp-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

  --cp-bg-checker: repeating-conic-gradient(#808080 0% 25%, transparent 0% 50%) 50% / 0.5rem 0.5rem;

  /* Scripted */
}

/* Picker toggle button */
.color-picker {
  --cp-current-color: transparent;

  display: flex;
  align-items: center;

  height: 2.375rem;
  width: auto;
  padding: 0;

  border: 2px solid var(--cp-border-color);
  border-radius: var(--cp-border-radius-sm);
  background-color: var(--cp-body-bg);
  padding: 1px;

  text-align: start;
  overflow: hidden;
  cursor: pointer;
}

.cp_wrap {
  position: relative;
}

.cp_wrap > input {
  padding-right: 34px;
}

.cp_wrap > .cp_color_box {
  position: absolute;
  inset: 0;
  left: auto;
  width: 30px;
  background: var(--cp-bg-checker);
  border-top-right-radius: .375rem;
  border-bottom-right-radius: .375rem;
}

.cp_wrap > .cp_color_box::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: inherit;
  border-radius: inherit;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}

.cp_dialog input {
  font-family: sans-serif;
  text-align: center;
}

.cp_toggle {
  height: 100%;
  aspect-ratio: 1;
  position: relative;
  background: var(--cp-bg-checker);
  border-radius: 3px;
}

.cp_toggle::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  border-radius: 3px;
  background-color: var(--cp-current-color);
}
.cp_unset .cp_toggle::before {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjU2IDI1NiI+PHBhdGggZmlsbD0iIzM4M2E0YyIgZD0iTTIwOC40OSAxOTEuNTFhMTIgMTIgMCAwIDEtMTcgMTdMMTI4IDE0NWwtNjMuNTEgNjMuNDlhMTIgMTIgMCAwIDEtMTctMTdMMTExIDEyOEw0Ny41MSA2NC40OWExMiAxMiAwIDAgMSAxNy0xN0wxMjggMTExbDYzLjUxLTYzLjUyYTEyIDEyIDAgMCAxIDE3IDE3TDE0NSAxMjhaIi8+PC9zdmc+),
    #ccc;
    currentColor: #d2d6d9;
  background-size: 100% 100%;
}

.cp_caret {
  position: absolute;
  right: 0;
  bottom: 0;

  /*background-color: var(--cp-border-color);*/
  background-color: var(--cp-caret-bg-color);
  color: var(--cp-body-color);
  font-size: 0.85rem;

  padding: 0.1rem 0 0 0.15rem;
  border-top-left-radius: var(--cp-border-radius-sm);

  display: flex;
  place-items: center;
  z-index: 1;
}
.cp_caret > svg {
  transition: transform var(--cp-delay) ease-in-out;
}
.cp_open .cp_caret > svg {
  transform: rotate(180deg);
}

/* Picker dialog */
.cp_dialog {
  --cp-base-color: #000;
  --cp-current-color: transparent;
  --cp-color: transparent;
  --cp-hue: 0;
  --cp-alpha: 0;
  --cp-primary: hsl(var(--cp-hue), 50%, 60%);

  position: absolute;
  z-index: 1055;

  width: auto;
  min-width: 16rem;
  max-width: 22rem;

  background-color: var(--cp-body-bg);

  border: 1px solid var(--cp-border-color-translucent);
  border-radius: var(--cp-border-radius-lg);
  box-shadow: var(--cp-box-shadow);

  opacity: 0;
  pointer-events: none;

  transition: opacity var(--cp-delay) ease-in-out;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cp_dialog-inner {
  display: flex;
  flex-direction: column;

  gap: 0.75rem;
  padding: 0.75rem;
}

.cp_dialog-inner .cp_thumb {
  height: 1.75rem;
}

.cp_dialog.cp_open {
  opacity: 1;
  pointer-events: all;
}

/* Preview */
.cp_sample {
  width: 2rem;
  background: var(--cp-bg-checker);
  position: relative;
}

.cp_sample::after {
  background-color: var(--cp-color);
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}

/* Color Inners */
.cp_area::after,
.cp_slider::after,
.cp_swatch::after {
  content: '';
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}

/* Areas & Sliders */
.cp_thumb {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;

  height: 1.25rem;
  aspect-ratio: 1;

  border: 2px solid var(--cp-body-color);
  border-radius: 9999px;
  box-shadow: var(--cp-box-shadow-sm);
  z-index: 1;
}

.cp_thumb:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1e90ff, 0 0 2px 2px #fff;
}

.cp_area {
  position: relative;
  height: 8rem;
}

.cp_slider {
  position: relative;
  height: 1.25rem;
}
.cp_slider,
.cp_slider::after {
  border-radius: 999px;
}
.cp_slider > .cp_thumb {
  top: 50%;
}

.cp_area,
.cp_slider,
.cp_thumb {
  cursor: grab;
  overscroll-behavior: none;
  touch-action: none;
}
.cp_area:active,
.cp_slider:active,
.cp_thumb:active {
  cursor: grabbing;
}

/* HSV Area */
.cp_area-hsv,
.cp_area-hsv::after {
  border-radius: var(--cp-border-radius-lg) var(--cp-border-radius-lg) 0px 0px;
}
.cp_area-hsv {
  background: var(--cp-bg-checker);
}
.cp_area-hsv::after {
  opacity: var(--cp-alpha);
  background: linear-gradient(to top, black, transparent),
    linear-gradient(to left, hsl(var(--cp-hue), 100%, 50%), rgb(255, 255, 255));
}
.cp_area-hsv > .cp_thumb {
  background-color: var(--cp-color);
}

/* Hue Slider */
.cp_slider-hue {
  background: linear-gradient(
    to right,
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(360, 100%, 50%)
  );
}
.cp_slider-hue > .cp_thumb {
  background-color: hsl(var(--cp-hue), 100%, 50%);
}

/* Alpha Slider */
.cp_slider-alpha::after {
  background: linear-gradient(to right, transparent, var(--cp-base-color));
}
.cp_slider-alpha {
  background: var(--cp-bg-checker);
}
.cp_slider-alpha > .cp_thumb {
  background-color: rgba(var(--cp-body-color-rgb), var(--cp-alpha));
}

/* Form styles */
.cp_root *:focus-visible {
  outline: 2px solid var(--cp-tertiary-color);
}

/* Swatches */
.cp_swatches {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: center;
}

.cp_swatches:empty {
  display: none;
}

.cp_swatch {
  --cp-color: transparent;

  width: var(--cp-swatch-width);
  aspect-ratio: 1;

  padding: 0;
  border: 1px solid var(--cp-border-color);

  background: var(--cp-bg-checker);
  border-radius: var(--cp-border-radius-sm);
  border-radius: 50%;
  overflow: hidden;

  cursor: pointer;
}
.cp_swatch::after {
  border-radius: inherit;
  background-color: var(--cp-color);
  box-shadow: inset 0 0 0 1px rgba(var(--cp-body-color-rgb), .25);
}


/* Formats */
.cp_formats {
  display: flex;
  gap: 0.25rem;
}

.cp_formats:empty {
  display: none;
}

.cp_format {
  flex: 1 1 auto;
  border: none;
  border-radius: 9999px;
  padding: 0.125rem 0.25rem;

  background: none;
  color: var(--cp-body-color);
  font-size: 1rem;

  cursor: pointer;
  transition: color 100ms ease-out, background-color 100ms ease-out;
}
.cp_format:hover {
  background-color: var(--cp-border-color-translucent);
}
.cp_format[aria-checked='true'] {
  color: var(--cp-body-color);
  background-color: var(--cp-border-color);
}

/* Input */
.cp_input-group {
  display: flex;
  gap: 1px;
  box-shadow: var(--cp-box-shadow-sm);
}
.cp_input-group > :first-child {
  border-radius: var(--cp-border-radius-sm) 0 0 var(--cp-border-radius-sm);
}
.cp_input-group > :last-child {
  border-radius: 0 var(--cp-border-radius-sm) var(--cp-border-radius-sm) 0;
}
.cp_input-group > :focus-visible {
  z-index: 1;
}

.cp_input {
  flex: 1 1 auto;
  min-width: 0;
  width: 0 !important;

  border: none;
  border-radius: 0;
  padding: .25rem .375rem;
  font-size: .9rem;

  color: var(--cp-body-color);
  background-color: var(--cp-border-color-translucent);
}

/* Action Buttons */
.cp_action {
  border: none;
  padding: 0.35rem 0.5rem;

  color: var(--cp-body-color);
  background-color: var(--cp-border-color);

  cursor: pointer;
  transition: background-color 100ms ease-out;

  display: flex;
  place-items: center;
}
.cp_action:hover {
  background-color: var(--cp-border-color-translucent);
}

/* Icons */
.cp_icon {
  font-size: 1.15rem;
  color: var(--cp-primary);
}
